@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}


.banner{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #243e63;
}
.Logo__T{
  padding-right: 12px;
  margin-right: 6px;
  max-width: 100px;
  max-height: 45px;
  width: 100%;
}

.logo__header{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 30px;
  font-weight: 900;
  color: #243e63;
  width: 100%;
}

 ul, li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style-type: none;
}

a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
}

.active{
  margin: 0 24px; 
  font-size: 14px;
  color: #243e63;
  font-weight: 600; 
}
.land{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.sign__up{
color: white;
width: 100%;
height:100%;
}

ul{
  height: 100%;
}

.Log__in{
  padding: 0 0 0 3px;
}

body{
padding: 24px 24px 0 24px;
font-family: 'Courier New', Courier, monospace;

}

h2{
  font-weight: 900;
}

.header__description{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 0px 194px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.body1{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.Get{
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  line-height: 1;
}


.header__section--para{
color: #243e63;
font-size: 16px;
margin: 32px auto;
max-width: 32rem;
line-height: 1.5;
}
.header__img--wrapper{
  padding-top: 60px;
  padding-bottom: 60px;
}
  
.header__img{
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  flex-direction: column;
  display: flex;
  width: 512px;
  padding-top: 6rem;
    padding-bottom: 6rem;
  /* height: 368.4px; */
}

.header__template{
font-size: 36px;
  color: #1a202c;
  line-height: 1.25;
}

.purple{
  color: #6415ff;
}



.body2{
  width: 60%;
}
/* 
  E-MAIL
*/
button{
  background-color: #6415ff;
  color: white;
  border-radius: 9999px;
  border: 9999px;
  padding: 12px 16px;
  }

.email__button{
  height: 59px;
  position:absolute;
  margin: 0px -129px 3px ;
  padding: 20px -1px;
  width: 125px;
  line-height: 1;
  font-size: 16px;
  -webkit-box-align: center;
  border-radius: 9999px;
  /* right: 0px;
    top: 0px;
    bottom: 0px;
    margin-right: 0.5rem;
    display: flex;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700px;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center; */
}
Input{
  /* font-weight: 500;
    border-radius: 9999px;
    border: 999;
    padding: 20px 192px 20px 32px;
    padding-left: 2rem;
    background-color: #fff; */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 12rem;
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  font-weight: 500px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
}
.customer__img{
  margin-top: 1rem;
  opacity: 0.5;
  margin: 16px 0px 0px;
  max-width: 100%;
  height: auto;
}

.trusted{
  font:bold;
  margin: 80px auto;
  font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: #a0aec0;
}

p{
  /* display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}
/*

PAGE 2

*/
/* .body3{
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;} */

.transform__lay {
  transform: none;  
}
.side__img{
  position: relative;
}

.side__img2{
    flex-direction: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    flex-flow: column wrap;
}
.header__3{
  font-weight: 700;
  font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    --tw-text-opacity: 1;
    justify-content: center;
    display: flex;
}

.service__tag{
  font-size: 48px;
  color: #243e63;
text-align: center;
margin: 16px;
font-weight: 900
}

.sub__text{
  color: #7C8bA1;
  font-weight: 500px;
  font-size: 18px;
  margin: 16px 0px 0px;
  text-align: center;
  line-height: 1.625;
  width: 100%;
}
